* {
	margin: 0;
	padding: 0;
}
body {
	background: #D9D9D9;
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(#F2B47E, #D7D9D9);
    }



/*Animaciones*/

.branding:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}
.ilustracion:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}
.disenoGrafico:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}
.cursos:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}
.asesorias:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}
.fotografia:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}

.portfolio1:hover {
  width: 80%;
  height: 80%; 
  transform: translate(10px, 20px);
  }

.portfolio2:hover {  
  width: 80%;
  height: 80%; 
  transform: translate(10px, 20px);
}

.portfolio3:hover {
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
 }

.portfolio4:hover { 
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
 }

.portfolio5:hover { 
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
 }


