* {
	margin: 0;
	padding: 0;
}



h4{
  text-align: center;
  
}
.logo { 
  width: 100px;
  height: 100px;
}
.redes{
  width: 100px;
  height: 100px;
}

.inicio{
  height: min-content;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: stretch;
  }
  .logo { 
    grid-area: 1 / 1 / 2 / 2;
    justify-self: end; 
  }
  .redes { grid-area: 1 / 3 / 2 / 4; }
  .navHeader { grid-area: 2 / 1 / 3 / 4;
    text-align: center;
  }

  .primer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .inicio { grid-area: 1 / 1 / 2 / 2; }



body {
	background: #D9D9D9;
	font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: linear-gradient(#F2B47E, #D7D9D9);
    }

img{
  width: 100%;
  height: 100%;
}





.imagen { grid-area: imagen; }

.nav{grid-area: nav ;}

.servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.branding { grid-area: 2 / 1 / 3 / 2; }

.ilustracion { grid-area: 3 / 1 / 4 / 2; }

.disenoGrafico { grid-area: 3 / 2 / 4 / 3; }

.fotografia { grid-area: 2 / 2 / 3 / 3; }

.asesoria { grid-area: 2 / 3 / 3 / 4; }

.creacionDeContenido { grid-area: 3 / 3 / 4 / 4; }

.titulo{grid-area: 1 / 2 / 2 / 3;
justify-self: end; }


.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  }
  
  .tituloPortfolio { grid-area: 1 / 1 / 2 / 4; }
  .portfolio1 { grid-area: 2 / 1 / 4 / 2; }
  .portfolio2 { grid-area: 2 / 2 / 3 / 3; }
  .portfolio3 { grid-area: 3 / 2 / 4 / 3; }
  .portfolio4 { grid-area: 2 / 3 / 3 / 4; }
  .portfolio5 { grid-area: 3 / 3 / 4 / 4; }

  .despedida {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .sobreMiTitulo { grid-area: 1 / 1 / 2 / 3;
      align-items: baseline; }
    .sobreMi { grid-area: 2 / 1 / 4 / 3;}
    .despedida2 { grid-area: 1 / 3 / 2 / 6; }
    .imprimibles1 { grid-area: 2 / 3 / 3 / 4; }
    .imprimibles2 { grid-area: 2 / 4 / 3 / 5; }
    .imprimibles5 { grid-area: 2 / 5 / 3 / 6; }
    .imprimibles3 { grid-area: 3 / 3 / 4 / 4; }
    .imprimibles4 { grid-area: 3 / 4 / 4 / 5; }
    .imprimibles6 { grid-area: 3 / 5 / 4 / 6; }



.txtBranding{
  position: center;
  right: 100px;
  background-color: #788676;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.txtIlustracion{
  position: center;
  right: 100px;
  background-color: #788676;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.txtDisenoGrafico{
  position: center;
  right: 100px;
  background-color: #788676;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.txtCursos{
  position: center;
  right: 100px;
  background-color: #788676;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.txtAsesorias{
  position: center;
  right: 100px;
  background-color: #788676;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.txtFotografia{
  position: center;
  right: 100px;
  background-color: #788676;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/*Animaciones*/

.branding:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}
.ilustracion:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}
.disenoGrafico:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}
.cursos:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}
.asesorias:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}
.fotografia:hover{
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
}

.portfolio1:hover {
  width: 80%;
  height: 80%; 
  transform: translate(10px, 20px);
  }

.portfolio2:hover {  
  width: 80%;
  height: 80%; 
  transform: translate(10px, 20px);
}

.portfolio3:hover {
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
 }

.portfolio4:hover { 
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
 }

.portfolio5:hover { 
  width: 80%;
  height: 80%;
  transform: translate(10px, 20px);
 }


